.el-dialog__wrapper {
  & /deep/.el-dialog {
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 5vh;
    .el-dialog__footer {
      padding: 10px 23px 20px;
      text-align: right;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    .el-dialog__header {
      // padding: 20px 23px 0px;
      padding: 12px 23px 8px;
      background: #409eff;
      .el-dialog__title {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
      }
      .el-dialog__headerbtn {
        top: 15px;
        .el-dialog__close {
          color: #fff;
        }
      }
    }
    .el-dialog__body {
      padding: 30px 23px 0;
      color: #606266;
      line-height: 24px;
      font-size: 16px;
    }
  }
}
